// Clockwork Icons
// All the images have as base directory /web/

$icon-logo-grey: 'src/assets/images/C_Logo_99aabb.svg';
$icon-logo-white: 'src/assets/images/C_Logo.svg';
$icon-chevron-right: 'src/assets/images/icon-chevron-right.svg';
$icon-chevron-left: 'src/assets/images/icon-chevron-left.svg';
