.companies-search {
  margin-top: 0; }

.company-action__merge {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
  margin-left: 10px; }

.do-not-contact-companies {
  margin-left: 5px; }
