.filter-list {
  padding: 0;

  &__search {
    padding: 10px;
    background-color: #f5f8fb;
  }

  &__item {
    border-top: 1px solid #ececec;

    &:first-child {
      border-top: none;
    }
  }
}
