@keyframes SlideXIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes SlideYIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0vh);
  }
}


@keyframes SlideYOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}
