.main {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;

  .main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    transition: all 0.2s linear;
    min-width: 245px;

    .navbar-header {
      margin: 0;
    }

    .content-wrapper {
      overflow-x: hidden;
      overflow-y: auto;
      flex: 1 1 auto;
    }
  }
}
