@import 'variables';

.candidacy-status-summary {
  a {
    position: relative;
    display: inline-block;
    width: 24.5%;
    margin-left: 0.5%;
    color: $white-color;
    text-align: center;
  }
}

.add-and-search-candidate {
  padding: 10px;
  background-color: #f5f8fb;
}

/* Clients Experience tab */
.visibility-toggle-form {
  &__sec {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &__title {
      margin: 0;
      display: inline-block;
      cursor: pointer;
    }

    .icon-action-wrapper {
      margin-left: 7px;
      background-position: 0 -1px;
    }

    &__content {
      margin-top: 10px;

      .chkbox-label {
        margin: 0 0 10px 0;
	display: block;
      }

      &.candidate {
        .chkbox-label {
          width: 50%;
	  display: inline-block;
	}
      }

      .visibility-settings-sub-title:first-child {
        margin-top: 0px;
      }
    }
  }
}

.visibility-settings-sub-title {
  margin: 10px 0 8px;
}

.team-panel-name {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 35px);
}

/* Strategy tab */
.page-head {
  margin-bottom: 10px;

  &__link {
    clear: both;
    display: block;
  }
}

.project-show {
  .form-group {
    margin-bottom: 40px;

    &.project-show__strategy__drop-zone {
      margin-bottom: 0;
    }
  }

  &__strategy {
    &__form__left {
      .tags-wrapper + a {
        display: block;
        margin-top: 10px;
      }
    }

    &__drop-zone {
      margin-bottom: 0;

      &__area {
        background-color: $white-color;
        border: 1px dashed #d8d8d8;
        color: #d8d8d8;
        height: 100px;
        line-height: 100px;
        text-align: center;
        width: 200px;
        float: left;
      }

      &__preview {
        display: inline-block;
        margin: 0 0 10px 10px;

        &__area {
          border: 1px solid #d8d8d8;
          display: block;
          height: 100px;
          overflow: hidden;
          width: 100px;
        }

        &__name {
          display: block;
          margin: 10px 0 8px;
        }

        span {
          margin-right: 10px;
        }

        span, .glyphicon-remove-circle {
          color: #d8d8d8;
        }

        .glyphicon-remove-circle {
          font-size: 16px;
        }
      }
    }

    &__target {
      &__sub-head {
        h4 {
          display: block;
          font-size: 14px;
          margin: 5px 0 0;
        }

        h4, a {
          vertical-align: middle;
        }

        &__coverage {
          display: block;
          margin-top: 8px;
        }
      }

      &__table {
        margin-top: 25px;

        .table > thead > tr > th {
          vertical-align: middle;
        }

        th {
          background-color: #939393;
          color: $white-color;
        }

        th, td {
          text-align: center;
        }

        .glyphicon-check {
          font-size: 20px;
        }
      }
    }
  }
}

.site-search--strategy {
  margin-top: 4px;

  &.site-search--quick-expand {
    width: 150px;
  }

  .site-search-advanced__form {
    background-color: $white-color;

    input[type="text"] {
      width: 128px;
    }
  }
}

.site-search--project-category {
  margin: 0 10px 0 0;

  &.site-search--quick-expand {
    width: 200px;
  }

  .site-search-advanced__form {
    background-color: $white-color;

    input[type="text"] {
      width: 178px;
    }
  }
}

.category {
  margin-bottom: 15px;

  &__heading {
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px  solid #e9ecf0;
    margin: 10px 0 0;
    color: #99aabb;

    &--target-companies {
      border-bottom: none;
      color: $default-color;
      font-weight: 400;
      margin: 0 15px;

      &:hover {
        .category__list__item__trash {
          display: block;
        }
      }
    }

    &--modal {
      margin: 0 15px;
    }
  }

  &__list {
    &__item {
      padding: 5px 0 5px 25px;

      &--modal {
        padding: 5px 25px 5px 35px;
      }

      &:hover {
        background-color: #f3f6fb;

        .category__list__item__chkbox, .category__list__item__trash {
          display: block;
        }
      }

      &.selected {
        .category__list__item__chkbox {
          display: block;
        }
      }

      &__chkbox {
        display: none;
      }

      &__trash {
        display: none;
      }
    }
  }
}

.search-category {
  &-list {
    height: 200px;
    overflow: auto;
    margin-bottom: 15px;
  }

  &-btn {
    padding: 0 15px;
  }
}

.category-modal-help-text {
  padding: 0 15px;
  &__total {
    color: $default-color;
    font-weight: bold;
  }
}

.react-select-category-modal {
  &.Select {
    &.Select--multi {
      &.is-disabled {
        float: left;
        width: calc(100% - 50px);

        .Select-control {
          background: transparent;
          border: none;
        }

        .Select-arrow-zone {
          display: none;
        }
      }

      .Select-value {
        border: medium none;
        color: $default-color;
        width: auto;
        position: relative;
        background: #f1f6fa;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        font-weight: 400;
        margin: 5px 0 5px 10px;

        &-label {
         overflow: visible;
        }

        &:hover {
          .Select-value-icon {
            display: inline-block;
          }
        }

        &-icon {
          border: medium none;
          float: right;
          position: static;
          display: none;

          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
}

.target-companies-coverage {
  font-size: 16px;
}

/* Position Tab */
.position-description-area {
  border: 1px solid #dddddd;
  height: 210px;
  margin-top: 10px;
  padding: 5px 10px;
  position: relative;

  &--with-no-border {
    border: none;
  }

  &--no-sub-head {
    height: 250px;
    margin-top: 0;
  }

  &:hover .position-description-area__edit {
    display: block;
  }

  &__edit {
    background-color: $white-color;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 0 5px;
    position: absolute;
    right: 20px;
    top: -9px;
  }
}

.position-documents {
  .dz-message {
    width: 100%;
    height: 250px;
  }
}

.position-compensation {
  &__item {
    position: relative;

    &:hover, &.active {
      background-color: #f1f6fa;

      .position-compensation__item__edit {
        display: block;
      }
    }

    &:first-child .position-compensation__item__wrapper {
      border-top: none;
    }

    &__wrapper {
      padding: 10px 0;
      margin: 0 10px;
      border-top: 1px solid #dddddd;

      > .row {
        margin: 0 -10px;
      }
    }

    &__edit {
      background-color: $white-color;
      border: 1px solid #efefef;
      border-radius: 4px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      display: none;
      padding: 0 5px;
      position: absolute;
      right: 20px;
      top: -9px;

      &--to-top {
        top: 0;
      }
    }
  }
}

.position-desc-card {
  &__help-text {
    span {
      display: inline-block;
      width: calc(100% - 65px);
    }

    + .position-desc-card__editor {
      margin-top: 10px;
    }
  }

  &__btn-sec {
    margin: 10px 0;
  }
}

.position-btn-sec {
  margin-top: 10px;
}

/* Project Header */

.project-header {
  padding-top: 9px;
  float: right;
  display:none;

  > a {
    margin-left: 15px;
  }
}

/* Candidates List View */

.candidate-list-view {
  .list-view__tbody  {
    scroll-behavior: auto;
  }

  &__status {
    .btn {
      min-width: 162px;
    }
  }

  &__color-category {
    font-size: 0;
  }
}

.candidate-color-category {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  vertical-align: middle;
}

.candidate-list-view__rank {
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    width: 20px;
    -moz-appearance: textfield;
    color: #333333;
    font-weight: normal;
  }
}

/* add candidate modal */
.people-quick-search-candidate {
  background-color: #f3f6fb;
  padding: 10px;

  input { width: 100%; }
}

.users-list {
  &__popup {
    overflow: auto;
    max-height: 420px;
    max-height: calc(100vh - 340px);
  }

  &__item {
    border-top: 1px solid #ececec;
    padding: 10px;

    &:first-child {
      border-top: none;
    }

    &__img {
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      width: 40px;
      overflow: hidden;

      img {
        max-height: 100%;
      }
    }

    &__content {
      display: inline-block;
      width: calc(100% - 50px);
      vertical-align: middle;

      &__details {
        float: left;
        width: calc(100% - 188px);
        &__name {
          font-weight: 400;
          font-size: 16px;
        }

        &__name, &__designation-with-company {
          display: block;
        }
      }

      &__buttons {
        float: right;
        padding-top: 7px;

        .text-bright-green {
          display: inline-block;
          margin-top: 5px;
        }
      }
    }
  }
}

/* Edit project client form */
.client-details {
  &__header {
    &__left {
      width: 60px;
      float: left;
      margin-right: 10px;
    }

    &__right {
      float: left;
    }

    &__info {
      &__name {
        font-size: 18px;
        font-weight: 400;
      }

      &__email {
        display: block;
      }
    }

    &__body {
      margin: 15px 0;

      &__left {
        float: left;
        width: 60px;
      }

      &__right {
        float: right;
        width: calc(100% - 60px);
      }

      &__instruction {
        display: block;
        margin-top: 5px;
      }
    }
  }

  &__content {
    margin-bottom: 5px;
  }
}

/* new project form */
.new-project-modal-scroll {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  &--new-deal {
    margin: 0 -15px;
    padding: 0 15px;
  }
}

/* project status modal */
.project-status {
  .modal-dialog {
    width: 90%;
    max-width: 800px;
  }

  &__sec {
    margin-top: 15px;
    padding-top: 15px;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    &__header {
      margin-bottom: 10px;

      h4 {
        float: left;
        font-size: 12px;
        margin: 0 10px 0 0;
        color: $dark-steel-grey;
      }
    }
  }
}

/* project settings tab */
.project-settings-wrapper {
  background: #f5f8fb;
  margin: 0;
}

/* project status specifications tab */
.specifications-tab__industry {
  &__contents {
    &__badge {
      color: #999999;
    }
  }
}

.project-tabs-wrapper {
  background: #f5f8fb;
  padding: 0 5px;
  position: fixed;
  right: 0;
  top: 50px;
  transition: all 0.2s linear;
  width: 100%;
  z-index: 1033;

  &--client-view {
    + .project-content-wrapper {
      padding-top: 61px;

      .project-topbar {
        padding-top: 0;
      }
    }
  }

  .project-nav-tabs {
    background-color: #f5f8fb;
  }

  .site-tabs__wrapper__tabs {
    &__item:first-child a {
      margin-left: 0;
    }
  }
}

.view-client-btn-mobile {
  margin: 10px 0;

  > a {
    display: block;
  }
}

.project-content-wrapper {
  padding-top: 72px;

  &--client-experience {
    padding-top: 112px;
  }
}

.project-specs-btn-align {
  margin-left: 20px;
}

.client-mode {
  .project-tabs-wrapper--client-view {
    top: 108px;
  }
}
.content-wrapper__client-single-project {
  .project-tabs-wrapper--client-view {
    left: 0;
  }
}

.client-team-last-login {
  position: relative;

  .actions-popup {
    right: 0;
  }
}

/* Projects card styles */
.project-show__position, .project-show__strategy {
  .card-view__header {
    border-bottom: 1px solid #dddddd;
  }
}

/* Responsive Styles */
@media (min-width: 768px) {
  .page-head {
    &__link {
      display: inline-block;
      margin: 6px 0 0 10px;
    }
  }

  .project-nav-tabs, .project-status {
    .site-tabs__nav {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .project-header {
    display: block;
  }

  .project-content-wrapper {
    padding-top: 41px;
  }

  .project-settings-mobile, .view-client-btn-mobile {
    display: none;
  }

  .project-tabs-wrapper {
    padding: 0 40px;

    &--client-view {
      + .project-content-wrapper {
        padding-top: 41px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .candidate-list-view {
    &__name, &__phone-number, &__company-name, &__recruiter {
      min-width: auto;
    }
  }

  .sidebar + .main-content .project-tabs-wrapper {
    width: calc(100% - 232px);
  }

  .menu-collapse .sidebar + .main-content {
    .project-tabs-wrapper {
      width: calc(100% - 75px);
    }
  }
}
