@import "variables";

/* Sidebar */
.site-brand {
  background: url(../assets/images/icon-chevron-down-455565.svg) no-repeat 196px 32px/16px 16px,
    url(../assets/images/logo-clockwork-logomark.svg) no-repeat 20px 24px/155px;
  display: block;
  height: 31px;
  padding: 24px 40px;
  font-size: 0;

  &.active,
  &:hover {
    background-image: url(../assets/images/icon-chevron-down-fff.svg), url(../assets/images/logo-clockwork-logomark-white.svg);
    background-color: rgba(28, 34, 40, 0.5);
  }
}

.sidebar {
  background-color: $default-color;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
  font-weight: 600;
  height: 100vh;
  transition: all 0.2s linear;
  white-space: nowrap;
  width: 240px;
  position: relative;
  flex-direction: column;
  display: flex;

  &.collapsed {
    width: 75px;

    .site-brand {
      background: url(../assets/images/C_Logo_99aabb.svg) no-repeat center 24px/31px;
      padding: 24px 37px;

      &:hover {
        background: rgba(28, 34, 40, 0.5) url(../assets/images/C_Logo.svg) no-repeat center 24px/31px;
      }
    }

    .recently-visited__link {
      justify-content: center;
    }

    .sidebar-slider {
      .icon-action-wrapper {
        position: static;
        transform: translateY(0);
      }
    }

    .recently-visited__link {
      background-position: center;
      font-size: 0;
    }
  }

  &__section {
    margin: 10px 0 4px;
    flex: 0 0 auto;
    width: 100%;

    &__list {
      margin: 0;

      &__item {
        font-weight: 300;
        font-size: 16px;

        &__link {
          color: #99aabb;
          display: block;
          width: 100%;

          svg {
            margin-right: 12px;
            vertical-align: inherit;
            width: 24px;
            flex: 0 0 auto;
          }

          &:hover {
            background-color: rgba(28, 34, 40, 0.5);
          }

          &.icon-action-wrapper {
            padding: 10px 24px;
            display: flex;
            align-items: center;
            width: auto;
          }

          &:hover,
          &:active,
          &:focus {
            color: #99aabb;
            text-decoration: none;
          }

          &.active {
            color: $white-color;

            svg {
              path {
                fill: white;
              }

              path#Line {
                stroke: white;
              }
            }
          }
        }
      }
    }
  }

  &-slider {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon-action-wrapper {
      width: 44px;
      height: 44px;
      background-size: 16px;
      background-position: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    &--collapsed {
      justify-content: center;
      padding-right: 0;
      margin-top: 4px;
    }
  }
}

.recently-visited {
  position: relative;
  flex: 0 0 auto;
  transition: all 0.2s linear;
  margin: 12px 10px 0 10px;
  border-top: 1px solid $slate-3;

  &__link {
    color: #99aabb;
    padding: 16px 24px 16px 24px;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 -10px;

    &:hover {
      color: #ffffff;
      background: rgba(28, 34, 40, 0.5);
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }

  .site-dropdown {
    bottom: 100%;
    top: auto;

    &__list__item a {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.projects {
  padding-top: 80px;
  margin-left: 55px;
}

/* Switch Firm */
.switch-firm {
  position: relative;
  flex: 0 0 auto;
}

.site-dropdown__main {
  display: flex;
  padding: 20px;
  align-items: center;

  &__logo {
    width: 40px;
    margin-right: 10px;
  }

  &__details {
    width: calc(100% - 50px);

    &__name {
      font-size: 16px;
      color: $default-color;
      font-weight: $font-weight-medium;
    }

    &__role {
      font-size: 12px;
      font-weight: $font-weight-medium;
      color: #99aabb;
    }
  }
}

/* Sidebar Firm Dropdown */
.site-dropdown {
  text-align: left;
  width: 250px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  left: 20px;
  top: 100%;
  z-index: $modal;

  a:hover {
    background-color: #f2f6fa;
  }

  &__single-item {
    a {
      margin: 8px 0;
      padding: 10px 20px;
      display: block;
      color: #455565;
      font-size: 14px;
      font-weight: $font-weight-medium;
    }
  }

  &__list {
    margin: 0;
    padding: 8px 0;
    font-size: 14px;

    &__item {
      > :first-child {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        color: #455565;
        font-weight: $font-weight-medium;

        span {
          font-weight: $font-weight-medium;
        }
      }

      &__img {
        width: 24px;
        margin-right: 10px;
      }
    }
  }
}
