.progress-steps {
  text-align: left;
  width: 420px;
  margin: 0 auto;

  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 40px;

    &--for-company {
      width: 200px;
    }

    &:last-child {
      width: 20px;

      .progress-steps__item__splitter {
        display: none;
      }
    }

    &__count {
      display: inline-block;
      vertical-align: top;

      &__indicator {
        background-color: #e9edf1;
        border-radius: 20px;
        display: inline-block;
        height: 20px;
        vertical-align: top;
        width: 20px;

        &.active {
          background-color: #f8c752;
        }

        &.completed {
          background-color: #50d087;
        }
      }

      &__value {
        display: block;
      }
    }

    &__splitter {
      background-color: #e9edf1;
      display: inline-block;
      height: 3px;
      vertical-align: middle;
      width: calc(100% - 30px);
      margin: 0 5px;
    }
  }
}