@import "../../../styles/_variables";

.stacked-list-content {
  margin: 0 12px;
  flex: 1 1 auto;
  max-width: calc(100% - 48px);

  &__title {
    font-size: 14px;

    &__main {
      display: flex;
      align-items: center;

      &__item {
        margin: 0 8px 0 0;
        font-weight: 500;
        color: $dark-grey;
        line-height: 20px;
      }

      &__tags {
        .tag-item--multiple {
          margin: 0px 0 0 4px;
        }
      }
    }

    &__sub {
      margin: 4px 0 0;
      line-height: 20px;
    }
  }

  &__body {
    margin: 4px 0;
  }

  &__label {
    color: $dark-steel-grey;
    font-size: 12px;

    &__item {
      margin-right: 10px;
      position: relative;

      &:first-child {
        padding-right: 6px;
        margin-right: 4px;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          height: 1px;
          width: 1px;
          background-color: $dark-steel-grey;
          border-radius: 50%;
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-mobile){
    &__title {
      display: grid;
      max-width: calc(100% - 20px);
    }
  }
}
