.horizontal-list {
  border-top: 1px solid #E9EDF1;
  color: #455565;
  padding: 15px 0; }
  .horizontal-list--block-edit {
    position: relative; }
    .horizontal-list--block-edit:hover {
      background-color: #f3f6fb; }
      .horizontal-list--block-edit:hover .actions-popup {
        display: block; }
  .horizontal-list__sec-splitter {
    margin-top: 25px; }
  .horizontal-list.first-child {
    padding-top: 0;
    border: none; }
  .horizontal-list__main-header {
    padding: 0 25px 0 30px; }
  .horizontal-list__header {
    color: #778da4;
    font-size: 12px;
    padding: 0 25px 0 30px;
    margin-bottom: 5px;
    font-weight: 600; }
  .horizontal-list__item {
    padding: 5px 25px;
    position: relative; }
    .horizontal-list__item--link, .horizontal-list__item--settings-input-align {
      padding: 5px 25px 5px 30px; }
    .horizontal-list__item__static {
      padding: 5px; }
    .horizontal-list__item__highlight {
      display: inline-block;
      border: 1px solid transparent;
      padding: 5px;
      border-radius: 5px;
      cursor: text; }
      .horizontal-list__item__highlight:hover {
        border: 1px solid #009cf6; }
    .horizontal-list__item--bottom-space {
      margin-bottom: 20px; }
    .horizontal-list__item:hover .actions-popup {
      display: block; }
    .horizontal-list__item:first-child {
      margin-top: 0; }
    .horizontal-list__item__label {
      display: block;
      width: 130px;
      margin-right: 20px;
      font-size: 12px; }
    .horizontal-list__item__value {
      display: block;
      vertical-align: top;
      font-size: 14px; }
      .horizontal-list__item__value a {
        color: #455565; }
      .horizontal-list__item__value .form-group {
        margin: 0 -10px 15px; }
      .horizontal-list__item__value .chkbox-wrapper + .icon-action-wrapper {
        margin-left: 15px; }
      .horizontal-list__item__value__item {
        display: block;
        min-height: 20px; }
      .horizontal-list__item__value--full-width {
        width: 100%; }
  .horizontal-list .form-horizontal {
    max-width: 575px; }

.horizontal-list__item-wrapper {
  margin: 0 -5px; }

.horizontal-list-flash-msg {
  margin: 0 25px 0 30px; }
