.static-search {
  position: relative;
  display: inline-block;

  &__input[type='search'] {
    padding-left: 30px;
    width: 200px;
    min-width: auto;
    -webkit-appearance: textfield; // Fix padding ignored in Safari
  }

  &__img {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
