.radio-button-wrapper {
  margin-top: 5px;
  cursor: pointer;
  margin: 5px 20px 0 0; }
  .radio-button-wrapper.disabled {
    opacity: 0.3; }
  .radio-button-wrapper__input {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
    .radio-button-wrapper__input__item {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer; }
      .radio-button-wrapper__input__item:checked + .radio-button-wrapper__input__custom {
        background-color: #009cf6;
        box-shadow: none;
        border: none; }
        .radio-button-wrapper__input__item:checked + .radio-button-wrapper__input__custom::after {
          content: "";
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #ffffff;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); }
    .radio-button-wrapper__input__custom {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
      border: 1px solid #97a8b8; }
  .radio-button-wrapper__label {
    vertical-align: middle; }
