.page-title__text {
  color: #455565;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500; }

.page-title__splitter::before {
  content: ">";
  display: inline-block;
  margin: 0 6px;
  color: #99AABB;
  font-size: 20px;
  font-weight: 500; }
