@import '../../styles/variables';

.search-select-radio-dropdown {
  &__search {
    .search-select-multi {
      &__input-wrapper {
        border: none;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 1px solid $grey-2;
        width: 360px;
        padding: 5px;
      }
    }
  }

  &__select {
    padding: 11px;
    display: flex;
    flex-direction: column;

    .radio-button-wrapper {
      margin: 10px 0;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .search-select-radio-dropdown {
    &__mobile {
      .collapsible-filter-container {
        &__body {
          padding-top: 4px;
        }
      }
  
      .search-select-multi {
        &__input-wrapper {
          border: none !important;
          width: 100% !important;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
  
      &__search {
        border-bottom: 1px solid $grey-3;
        padding: 0 0 4px 8px;
      }
    }
  }
}
