.date-range-picker input[type="text"] {
  width: 138px; }

.date-range-picker svg {
  margin-left: 20px;
  margin-right: 12px; }

.DateRangePicker_picker {
  top: 48px !important; }

.DateInput_fang {
  top: 38px !important; }

.DayPickerNavigation_svg__horizontal {
  margin: 0 !important; }

.CalendarMonth_table {
  margin-top: 10px; }

.DayPickerKeyboardShortcuts_buttonReset {
  display: none; }

.CalendarDay__selected_start, .CalendarDay__selected_end, .CalendarDay__hovered_span:hover {
  background: #4589bf;
  border-color: #4589bf;
  color: white; }

.CalendarDay__selected_span, .CalendarDay__hovered_span {
  background: #55abef;
  border-color: #55abef;
  color: white; }

.CalendarDay__selected_span:hover, .CalendarDay__selected_start:hover, .CalendarDay__selected_end:hover {
  background: #049cf5;
  border-color: #049cf5; }
