.formatted-email {
  display: inline-block; }
  .formatted-email__address {
    color: inherit;
    display: inline-block;
    vertical-align: middle; }
  .formatted-email .truncate {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
