.hyperlink {
  color: #1C2228;
  text-decoration: none;

  &__editing {
    width: 100%;
    padding: 4px 5px;
  }

  &__editable {
    transition: background-color 0.4s ease;
  }

  &__editable:hover {
    background-color: #D6EFFD;
  }
}

.hyperlink:hover {
  color: #009CF6;
  text-decoration: underline;
}
