@import "../../../styles/_variables";

.stacked-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    background-color: $white-color;
    border-top: 1px solid #e9edf1;
    padding: 16px 20px;

    &__action-controls {
      svg use {
        fill: #99aabb;
      }
    }
  }
}
